@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
}

@font-face {
  font-family: "nothing";
  src: url("../public/fonts/nothing.ttf");
}
